/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    color: #00473e; /* Custom Dark Green */
    background-color: #f2f7f5; /* Light Background */
}
header {
    background: #f2f7f5;
    color: #00473e;
    padding: 20px 40px;
    border-bottom: #A6B1E1 3px solid;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
}

.headerparent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

.logo {
    width: 130px;
    margin-left: 20px;
}

.navbar {
    display: flex;
    flex-grow: 1;
    justify-content: center;
    align-items: center;
}

header nav a button {
    background: #00473e;
    color: #f2f7f5;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s
}


header nav a button:hover {
    background-color:#faae2b;
    color: #00473e;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s, color 0.3s
}

.partnersparent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.searchbar {
    margin-left: 20px;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
    font-size: medium;
    border: solid 1px grey;
    width: 170px;
    height: 35px;
    padding-left: 10px;
}

.search {
    height: 25px;
    margin-left: -35px;
    margin-top: 7px;
    cursor: pointer;
}

.searchbar:hover {
    cursor: pointer;
    background-color: #faae2b;
}

/* Hero Section */
.hero-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    
}

.hero-section h1 {
    font-size: 50px;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.hero-section p {
    font-size: 20px;
    margin-bottom: 20px;
}

.hero-section img {
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    height: auto;
}






/* About Content */
.about-content {
    padding: 40px 20px;
}

.about-content h2 {
    color: #00473e;
    font-size: 36px;
    text-align: center;
    margin-bottom: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.about-content p {
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
}

.about-content .about-image {
    display: block;
    margin: 0 auto 40px;
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.what-we-do {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.service {
    flex: 1 1 calc(33% - 40px);
    text-align: center;
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
    background: #00473e;
    color:#fffffe;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
}


.service:hover {
    transform: translateY(-10px);
    background:#f2f7f5;
    color: #00473e; /* Dark Green */
}

.service img {
    max-width: 100%;
    border-radius: 10px;
}

.service h3 {
    color:#fffffe;
    margin-top: 15px;
    font-size: 24px;
}

.service h3:hover {
    color: #00473e; /* Dark Green */
    margin-top: 15px;
    font-size: 24px;
    transition: color 0.3s ease;
    text-wight:40px;
}


.service p {
    margin-top: 10px;
    font-size: 16px;
    
}

/* Footer */
footer {
    background: #00473e;
    color: #fffffe;
    text-align: center;
    padding: 40px 0;
    margin-top: 40px;
    clear: both;
    box-shadow: 0 -4px 10px rgba(0, 0, 0, 0.1);
}

footer .social-media a {
    margin: 0 10px;
    color: #fffffe;
    text-decoration: none;
    font-size: 24px;
    transition: color 0.3s;
}

footer .social-media a:hover {
    color: #475d5b;
}

footer .newsletter input[type="email"] {
    padding: 10px;
    border: none;
    border-radius: 5px;
    width: 70%;
    margin-right: 10px;
}

footer .newsletter button {
    padding: 10px 20px;
    border: none;
    background: #d8779a;
    color: ;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

footer .newsletter button:hover {
    background: #f2f7f5;
}

footer .quick-links a {
    margin: 0 10px;
    color: #faae2b;
    text-decoration: none;
    font-size: 14px;
    transition: color 0.3s;
}

footer .quick-links a:hover {
    color: #d8779a ;
}
.social{
     height:40px;
     width:40px;
    
}
.social:hover{
    transform: scale(1.2);
}

 .image1 {
            margin: 0;
            padding: 0;
            font-family: Arial, sans-serif;
        }

        
        .image1 {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #f7f7f7;
        }

       .image1 {
            margin-right: 8px;
            width: 30px;
            height: 30px;
            fill: white;
        }

        
        .image1:hover {
            background-color: #faae2b;
        }

        
        .image1:active {
            background-color: #1565C0; 
            transform: scale(0.98); 
        }

.home-button {
    position: fixed;
    bottom: 30px;
    right: 30px;
    background-color: #00473e;
    color: #ffffff;
    border: none;
    border-radius: 50%;
    padding: 15px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s, background-color 0.3s;
}

.home-button img {
    width: 30px;
    height: 30px;
}

.home-button:hover {
    background-color: #475d5b;
    transform: scale(1.1);
}

.home-button:active {
    transform: scale(0.95);
}


